@font-face {
  /*LIGHT*/
  font-family: "League Gothic";
  src: url('fonts/LeagueGothic-Regular.otf') format('opentype');
}

body { font-family: 'Roboto', sans-serif; margin: 0; background-color: #FFDEA9; color: #2d2d2d;
  width: auto;
  min-height: 100vh;
  background-image: url('HOODFUTURE_WEB.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2, h3, h4 { font-family: "League Gothic", sans-serif; }
a {font-weight: bold; font-size: 1.5em; }

.main { min-height: 100vh; }
.nav { background-color: none; position: fixed; padding: 20px; }
.nav a { color: #2d2d2d; }
.nav a:hover { text-decoration: underline; text-decoration-color: #000; }
.nav-link { display: block; }
